<footer >
    <div  class="footer">
        <div class="f-info">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-company">
            <a href="">&copy;2021 copyright</a>
            <p>Adhiyana.com</p>
        </div>
    </div>
</footer>