<% layout("/layouts/boilerplate") %>

<div id="carouselExampleCaptions" class="carousel slide carousel_cont" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/edu.jpg" class="d-block w-100 img_curosal" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Educational</h5>
          <p>Education is the passport to the future, for tomorrow belongs to those who prepare for it today.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/health.jpg" class="d-block w-100 img_curosal" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Health</h5>
          <p>Healthy is an outfit that looks different on everybody.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/sci.jpg" class="d-block w-100 img_curosal" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Science</h5>
          <p>Science is a way of thinking much more than it is a body of knowledge.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/tavel.jpg" class="d-block w-100 img_curosal" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Travel</h5>
          <p>The world is a book and those who do not travel read only one page.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/social.jpg" class="d-block w-100 img_curosal" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Social</h5>
          <p>we are the part of our society and helping is our nature.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/agri.jpg" class="d-block w-100 img_curosal" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Agriculture</h5>
          <p>Agriculture is our wisest pursuit, because it will in the end contribute most to real wealth, good morals & happiness.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="images/music.jpg" class="d-block w-100 img_curosal" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Music</h5>
          <p>Music expresses that which cannot be put into words and that which cannot remain silent.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="s-container">
    <div class="s-container_img" >
        <img src="images/reading.png" alt="" class="">
    </div>
    <div class="s-container_text">
        <h1>Let's Read India</h1>
        <p>"A reader lives a thousand lives before he dies... The man who never reads lives only one"</p>
        <span>- R.R. Martin.</span>
        <a href="/blogs" class="btn btn-primary">Read Articles</a>
    </div>
</div>
<div class="t-container">
    <p>&nbsp &nbsp &nbsp &nbsp Reading stands as one of humanity's most profound and enduring activities, transcending time and culture. Its importance reverberates across generations, weaving through the fabric of society and enriching the lives of individuals in myriad ways.</p>
    <p>&nbsp &nbsp &nbsp In essence, reading is not just a pastime or leisure activity; it is a fundamental pillar of education, enlightenment, and human flourishing. It transcends barriers, connects disparate worlds, and empowers individuals to unlock their full potential. As we embrace the transformative power of reading, we embark on a lifelong quest for knowledge, wisdom, and understanding.</p>
</div>
<div class="c-container">
  <h4>Read relating Article -</h4>
  <a href="/blogs/educational/categories" class="btn btn-light ">Educational</a>
  <a href="/blogs/buisness/categories" class="btn btn-light ">Buisness</a>
  <a href="/blogs/travel/categories" class="btn btn-light ">Travel</a>
  <a href="/blogs/health/categories" class="btn btn-light ">Health</a>
  <a href="/blogs/science/categories" class="btn btn-light ">Science</a>
  <a href="/blogs/music/categories" class="btn btn-light ">Music</a>
  <a href="/blogs/entertainment/categories" class="btn btn-light ">Entertainment</a>
  <a href="/blogs/agriculture/categories" class="btn btn-light ">Agriculture</a>
  <a href="/blogs/international/categories" class="btn btn-light ">International</a>
  <a href="/blogs/social/categories" class="btn btn-light ">Social</a>
</div>
<div class="a-container">
  <div class="a-container_img">
    <img src="images/about.png" alt="">
  </div>
  <div>
    <h2>About Us</h2>
    <p class="a-container_wel">&nbsp &nbsp &nbsp &nbsp Welcome to <b>Adhiyana</b> - Your Gateway to Insightful Perspectives and Engaging Content!</p>
    <p>&nbsp &nbsp &nbsp &nbsp Our platform is more than just a collection of words; it's a community where thoughts converge, ideas flourish, and conversations spark. Whether you're seeking inspiration, seeking knowledge, or simply looking for a delightful read, our blog welcomes you with open arms.
      Join us on a journey where every click unveils new insights, where every scroll leads to moments of enlightenment, and where every comment sparks meaningful dialogue. Together, let's explore the depths of human experience and unravel the mysteries of our world.</p>
  </div>
</div>