<% layout("/layouts/boilerplate") %>

<div class="col-3 login_form" >
    <h3 class="form_head">Login</h3>
    <form action="/login" method="POST" novalidate class="needs-validation">
        <div class="col-md-10 mt-3 m-auto">
            <label for="username" class="form-lable">Enter username</label>
            <input type="text" name="username" id="username" placeholder="Enter username" class="form-control" required>
        </div >
        <div class="col-md-10 mt-3 m-auto">
            <label for="password" class="form-lable">Enter password</label>
            <input type="text" name="password" id="password" placeholder="Enter password" class="form-control" required>
        </div >
        <div class="col-md-10 mt-5 m-auto">
            <button class="btn btn-primary col-md-12 login_m-btn">Login</button>
        </div>
        <div class="col-md-10 mt-4 m-auto">
            <a class="login_btn" href="" class="blue_btn">Forget password?</a>
            <a  href="/signup" class="signup_a login_btn">signup</a>
        </div>
    </form>
</div>